Experimento/DecisaoRegras/Web References/Atuador/ServicoAtuador1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicoBase" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicoBase" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DadosAtuacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="NomeContainer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosAtuacao" nillable="true" type="tns:DadosAtuacao" />
</xs:schema>